body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.language-selection {
    text-align: center;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 5px;
}

#result {
    text-align: center;
    margin-top: 20px;
}

#media-container {
    display: none;
    margin-top: 20px;
}

#image,
#video {
    width: 100%;
    height: auto;
}

.nasa-background {
    background-image: url('images/nasa.png');
    background-size: cover;
    background-position: center;
}
